<!DOCTYPE html>
<html>

<head>
  <title>Register</title>

  <script type="text/javascript">


  </script>
</head>

<body>

<div class="header">
  <h1 id="ajaxResponse">Will be a response</h1>
</div>

<div class="container">
  <div class="container">

    <form class="">
      <label for="name">Name</label>
      <input id="name" type="text" value="">
      <label for="pass">Pass</label>
      <input id="pass" type="password">
    </form>


    <button id="registerButton" type="button" name="button">
      Register
    </button>

  </div>
</div>

<div class="footer">

</div>

<script type="text/javascript">

  function sendRegReq() {

    var nameVal = document.getElementById("name").value;
    var passVal = document.getElementById("pass").value;

    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var user = JSON.parse(this.responseText);
        document.getElementById("ajaxResponse").innerHTML =
          "Welcome to site " + user.name;
      }
    };

    xhttp.open("POST", "/register", true);
    xhttp.send(JSON.stringify({name: nameVal, pass: passVal}));
  }
  // jquery, es6
  var butt = document.getElementById("registerButton");
  butt.addEventListener("click", sendRegReq);


</script>

</body>
</html>
